body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.screen {
    width: 100%; 
    height: 100vh;
    background: url(img/Backgraund.png) center no-repeat;
    position: absolute;
    top: 0;
}
.title{
    display: block;
    margin: 0 auto;
    width: 600px;
    text-align: center;
    padding: 150px 0 0 0;
    font-size: 50px;
}

.menu {
    width: 100%;
    height: 80px;
    display: flex;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;

    align-items: center;
    justify-content: space-around;
    position: fixed;
    top:0;
    left: 0;
    background:#0000008a;
}

h1 {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.logo {
    width: 260px;
    height: 60px;
    background: url(img/logo.png) center center/cover no-repeat;
}
.btn-Wrap {
    margin: 20px 0;
    text-align: center;
}
.btn-1{
    width: 200px;
    height: 50px;
    border-radius: 25px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    background: linear-gradient(rgb(0, 255, 98), #fff);
}
.btn-2{
    width: 200px;
    height: 50px;
    border-radius: 25px;
    border: #f2ff00;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    background: linear-gradient(rgb(255, 6, 6), rgb(19, 107, 122));
}

.link {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}

.wert {
    width: 100%;
    height: 800px;
}

#link-1 {
    background: #00ccff;
}

#link-2 {
    background: #48ff00;
}

#link-3 {
    background: #ff00fb;
}

#link-4 {
    background: #f2ff00;
}

#link-5 {
    background: #0000ff;
}

#link-6 {
    background: #ff0088;
}