body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.screen {
    width: 100%; 
    /* height: 100vh; */
    background: url(img/Backgraund.png) center no-repeat;
}

.menu {
    width: 100%;
    height: 80px;
    display: flex;

    position: fixed;
    top: 0;
    left: 0;
    background: #0000008a;

    font-size: 20px;
    font-weight: 700;
    font-family: monospace;

    align-items: center;
    justify-content: space-around;
}

h1 {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.title {
    margin: 200px auto;
    display: block;
    padding: 150px 0 0;
    margin: 0 auto;
    text-align: center;
    font-family: monospace;
    font-size: 50px;
}

.logo {
    width: 260px;
    height: 60px;
    background: url(img/logo.png) center center/cover no-repeat;
}

.link {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}

.btn-wrap {
    width: 500px;
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    text-align: center;
}

.btn1 {
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border: 2px solid #15e275;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    background-color: #1b152b;
    cursor: pointer;
}

.btn2 {
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border: 2px solid #1b152b;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    background: linear-gradient(#1bce54, #0ba05f);
    cursor: pointer;
}

.wert {
    width: 100%;
    height: 800px;
}

.item-wrap {
    width: 80%;
    height: 300px;
    margin: 0 auto;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item {
    width: 30%;
    height: 150px;
    border-radius: 20px;
    background: linear-gradient(30deg, #9DFE00, #14D9E5);
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.item-img {
    border-radius: 20px;
    width: 100%;
    height: 250px;
}

.img-1 {
    background: url(./pig.png);
}

.img-2 {
    background: url(./monky.png);
}

.img-3 {
    background: url(./robot.png);
}

#link-1 {
    background: #00ccff;
}

#link-2 {
    background: #48ff00;
}

#link-3 {
    background: #ff00fb;
}

#link-4 {
    background: #f2ff00;
}

#link-5 {
    background: #0000ff;
}

#link-6 {
    background: #ff0088;
}