body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.screen{
    width: 100%;
    height: 100vh;
    background: url(img/Backarand.jpg) center center/cover no-repeat;

    
}

.menu{
    width: 100%;
    height: 80px; 
    display: flex;

    position:fixed ;
    top:0;
    left:0;
    background: 0000008a;

    font-size: 20px;
    font-weight:700;
    font-family: 'Times New Roman', Times, serif;

    align-items: center;
    justify-content:space-around;

}


h1 {
    width:100% ;
    display: flex;
    justify-content: space-around;
}

.logo {
    width: 241px;
    height: 60px;
    background: url("img/NFT.png");
}
.title{
    display: block;
    width: 500px; 
    padding: 150px 0 0 0;
    margin: 0 auto ; 
    text-align: center;
    font-size: 50 px; 
}

.btn-wrap{
    
    margin: 20px 0;
    text-align: center;
}
.btn1{
    width:200px ;
    height: 50px;
    border-radius:25px ;
    color: #fff ;
    font-size:20px ;
    font-weight:700 ;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);

}
.btn2{
    width:200px ;
    height: 50px;
    border-radius:25px;
    border: 3px solid ; 
    color: #f6fa08 ;
    font-size:20px ;
    font-weight:700 ;
    background:00000000;

}


.link {
    color: #e40de4;
    text-decoration: none;
    font: size 20px; 
}

.wert {
    width:100%;
    height: 650px; 
}

#link_1 {
    background:red ; 
}

#link_2 {
    background:rgb(253, 137, 5) ; 
}

#link_3 {
    background:rgb(245, 221, 4) ; 
}

#link_3 {
    background:rgb(51, 255, 0) ; 
}

#link_4 {
    background:rgb(0, 153, 255) ; 
}

#link_5 {
    background:rgb(25, 0, 255) ; 
}

#link_6 {
    background:rgb(212, 0, 255) ; 
}

